In [38]:
import pandas as pd

# Employee data
data = {'id': [1,2],
        'salary': [100,100]}

# Creating a DataFrame
employee= pd.DataFrame(data)

employee

   id  salary
0   1     100
1   2     100

In [39]:
try:
    df=pd.DataFrame({"getNthHighestSalary(2)":[employee.drop_duplicates().sort_values("salary",ascending=False).iloc[1,1-1]]})
except:
    df=pd.DataFrame({"getNthHighestSalary(2)":[None]})

In [23]:
df

  getNthHighestSalary(2)
0                   None

In [44]:
employee.drop_duplicates(subset='salary').sort_values("salary",ascending=False).iloc[1,1-1]

IndexError: index 1 is out of bounds for axis 0 with size 1

In [5]:
import pandas as pd

# Scores data
df= {'id': [1, 2, 3, 4, 5, 6],
               'score': [3.50, 3.65, 4.00, 3.85, 4.00, 3.65]}

# Creating a DataFrame
scores = pd.DataFrame(scores_data)

# Displaying the DataFrame
scores

   id  score
0   1   3.50
1   2   3.65
2   3   4.00
3   4   3.85
4   5   4.00
5   6   3.65

In [50]:
scores.sort_values("score",ascending=False)

   id  score
2   3   4.00
4   5   4.00
3   4   3.85
1   2   3.65
5   6   3.65
0   1   3.50

In [62]:
x=-1
y=0
lis=[]
sc=scores.sort_values("score",ascending=False)
for i in sc.score:
    if x!=i:
        x=i
        y=y+1
        lis.append(y)
    else:
        lis.append(y)
data = {'score': sc.score,
        'rank': lis}
pd.DataFrame(data)

   score  rank
2   4.00     1
4   4.00     1
3   3.85     2
1   3.65     3
5   3.65     3
0   3.50     4

In [61]:
pd.DataFrame(data)

   score  rank
2   4.00     1
4   4.00     1
3   3.85     2
1   3.65     3
5   3.65     3
0   3.50     4

In [3]:
sc

''

In [6]:
df

{'id': [1, 2, 3, 4, 5, 6], 'score': [3.5, 3.65, 4.0, 3.85, 4.0, 3.65]}

In [8]:
df=pd.DataFrame(df)

In [9]:
df

   id  score
0   1   3.50
1   2   3.65
2   3   4.00
3   4   3.85
4   5   4.00
5   6   3.65

In [26]:
df.score.sort_values(ascending=False)[2]

4.0